* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  overflow: hidden;

  h1 {
    font-family: "Star Wars", sans-serif;
    font-size: 7rem;
    color: gold;
    z-index: 99;
  }

  #main-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 20rem;
    width: 30rem;
    border: 1.5px solid gold;
    border-radius: 1rem;

    z-index: 99;

    .fa-spin {
      color: gold;
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: gold;

      span {
        color: white;
        font-weight: 200;
      }
    }
  }

  #find-someone-btn {
    border: 1.5px solid gold;
    color: gold;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 99;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 217, 0, 0.126);
      color: white;
      scale: 1.2;
      box-shadow: rgba(255, 217, 0, 0.369) 0px 20px 30px -10px;
    }
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 50s linear infinite;
  -ms-animation: move-background 50s linear infinite;
  -o-animation: move-background 50s linear infinite;
  -webkit-animation: move-background 50s linear infinite;
  animation: move-background 50s linear infinite;
}
