* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 2rem;
}

.counter {
  display: flex;
  gap: 1.5rem;

  h3 {
    font-size: 3rem;
  }

  button {
    padding: 1rem;
  }
}

.users-display-container {
  margin-top: 5rem;
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.user-card {
  position: relative;
  height: 13rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  p {
    position: relative;
    width: 85%;
  }
}
