* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 53, 53);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-container {
  width: 80vw;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;

  .user-card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.1s;

    &:hover {
      scale: 1.08;
    }

    p:first-child {
      color: rgb(0, 162, 255);
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.6rem;
    }
  }
}
