* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 53, 53);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgb(8, 36, 66);
}

.header-main {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(190, 255, 26);
}

.age-counter-main-container {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.age-counter-sub-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.age {
  font-size: 10rem;
  color: rgb(0, 128, 213);
  text-shadow: 0 0 5px rgb(133, 206, 255), 0 0 5px rgba(108, 196, 255, 0.35),
    0 0 10px rgba(108, 196, 255, 0.35), 0 0 20px rgba(108, 196, 255, 0.35),
    0 0 40px rgba(108, 196, 255, 0.35), 0 0 45px rgba(108, 196, 255, 0.35),
    0 0 50px rgba(108, 196, 255, 0.35), 0 0 75px rgba(108, 196, 255, 0.35);
}

button {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid rgb(190, 255, 26);
  color: rgb(190, 255, 26);
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: scale 0.2s, box-shadow 0.2s;

  &:hover {
    scale: 1.2;
    background-color: rgba(140, 255, 0, 0.094);
    background-color: rgba(140, 255, 0, 0.671);
    color: rgb(8, 36, 66);
    box-shadow: rgba(140, 255, 0, 0.267) 0px 3px 30px 0.8px;
  }
}

i {
  color: rgb(0, 153, 255);
}
