* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.quotes-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  width: 35rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h2 {
    font-size: 2rem;
    letter-spacing: 0.02rem;
  }

  p {
    letter-spacing: 0.02rem;
    align-self: end;
  }

  button {
    align-self: end;
    letter-spacing: 0.03rem;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: fit-content;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
